<!-- question_confirm_delete.html -->

{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"> <a href="/">Qestion List</a></li>
    <li class="breadcrumb-item active"> <a href="">Q - {{object}}</a></li>
    <li class="breadcrumb-item active"> <a href="">Q - Delete</a></li>
{%endblock%}



{% block content %}
<div class="container">
  <h2>Confirm Delete</h2>
  <p>Are you sure you want to delete "{{ object }}"?</p>
  <form method="post">
    {% csrf_token %}
    <a href="{{object.id}}/delete"><input type="submit" class="btn btn-danger" value="Delete"></a>
    <a href="/" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
